<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header><img src="/images/leasure.JPG" alt="LeasureTravel logo"></header>
    {{{body}}}
  </body>
</html>
